html,
body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  background-color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.icon svg path {
  fill: currentColor;
}
